.row
  .jumbotron
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        %blockquote
          %form.form-horizontal
            %fieldset
              %legend Your code
              .form-group
                %textarea#textArea.lined.form-control{:rows => "10", :spellcheck => "false"}
          %a.btn.btn-primary.btn-lg Learn more
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        %blockquote.blockquote-reverse
          %form.form-horizontal
            %fieldset
              %legend Your code
              .form-group
                %textarea#textArea.lined.form-control{:rows => "10", :spellcheck => "false"}
          %a.btn.btn-primary.btn-lg Learn more
